<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .index{
            background-color: antiquewhite;
            display: flex;
            justify-content: space-between;
        }
        .link{
            border:2px solid black;
            padding: 7px;
            margin: 5px;
            border-radius: 15px;
            background-color: antiquewhite;
            text-decoration: none;
            font-size: 1em;
        }
        p{
            text-transform: capitalize;
            margin-left: 13px;
        }
        .link:hover{
margin-right:13px;
box-shadow: 3px 3px 3px rgb(0 0 100);
font-size: 1.3em;
        }
    </style>
</head>
<body>
    <div class="index">
        <p> hello welcome click the link to register
        </p>
        <a class="link"href="/submit">Click !</a>
    </div>
</body>
</html>